@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin:0;
    padding:0
}

header{
    
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.itensnav{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

   
}



.logo{
    font-family: Poppins, sans-serif ;
    color: #0C85B9;
}



.itensnav li{
    padding-left: 15px;
}

.itensnav a{
    text-decoration: none;
    color: #0C85B9;
    font-family: Poppins, sans-serif ;
}

.box01{
    background-color: #28617F;
}

nav{
    display: flex;
    justify-content: space-around;
    
    background-color: white;
    width: 100%;
    
}

.btn button{
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    

}

.btn a{
    text-decoration: none;
    color: black;
}

.cdst{
    background-color: #0C85B9;
    color: white;
    transition: 1s background;
}

.cdst:hover{
    background-color: #0C5B91;
    transition: 1s background;
}

.section-1{
    height: 400px;
    background-color: #28617F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    
    width: 960px;
}

.card{
    height: 250px;
    width: 200px;
     background-color: #0C85B9;
     margin-top: 20px;
     margin-bottom: 20px;
}

.card:hover{
    transform: scale3d(1.1,1.1,1);
}


.titulo{
    color: white;
    display: flex;
    justify-content: center;
    font-family: Poppins, sans-serif;
}

.subtitulo{
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    

}
.desc{
    color: white;
    display: flex;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-size: 0.8em;
    padding-top: 10px;
}

.icon{
    display: flex;
    justify-content: center;

}
.icon img{ 
    height: 100px;
    width: 100px;
    
}

.btncard{
    
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.btncard button{
    padding: 5px 10px;
    cursor: pointer;
    color: #1A729F;
    border: none;
}

.section-2{
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 1200px;
}

.icon02{
    display: flex;
    justify-content: center;
}

.icon02 img{
    width: 50px;
    height: 50px;
}

.card02{
    height: 100px;
    width: 100px;
     background-color: white;
     margin-top: 20px;
     margin-bottom: 20px;
}

.subtitulo02{
    font-size: 12px;
    color: #0C85B9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin-top: 20px;
}

.subtitulo02 a{
    text-decoration: none;
    color: #0C85B9;
}



